@import 'antd/dist/antd.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: 'ProductSans-Regular';
  src: url('./fonts/ProductSansRegular.ttf');
}
@font-face {
  font-family: 'ProductSans-Bold';
  src: url('./fonts/ProductSansBold.ttf');
}
@font-face {
  font-family: 'ProductSans-Italic';
  src: url('./fonts/ProductSansItalic.ttf');
}
@font-face {
  font-family: 'ProductSans-BoldItalic';
  src: url('./fonts/ProductSansBoldItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
